* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}


body {
    font-family: 'Livvic',
        sans-serif;
    font-size: 10px;
    overflow-x: hidden !important;
    box-sizing: border-box;
}

p {
    font-size: 1.6rem;

}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

main {
    margin: -8px;
}

/*Header*/

@media only screen and (min-width:320px) {

    ul {
        list-style-type: none;
    }

    #navAbout {
        background-color: black;
    }

    a,
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
        color: white !important;
    }

    header {
        width: 100%;
        height: 10rem;
        background-color: black;
        color: white;
    }


    .container {
        width: 100%;
        max-width: 100rem;
        margin: 0 auto;
        padding: 0;
    }


    nav {
        width: 100%;
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        padding-top: 2rem;
    }

    .nav-brand {
        width: 2rem;
    }

    .menu-icons i {
        color: white;
        cursor: pointer;
    }

    .nav-img {
        margin-top: 5rem;
        margin-left: 8rem;
        width: 150px;
    }

    .nav-list {
        padding-top: 0;
        width: 13rem;
        height: 120vh;
        position: fixed;
        background-color: black;
        top: 0;
        right: -18rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1500;
        transition: all 650ms ease-in-out;
        overflow: auto;

    }

    .nav-list .btn:hover {
        background-color: black !important;
        color: white !important;
        border-color: white !important;
    }

    .nav-list.active {
        right: 0;
    }

    .close {
        position: absolute;
        top: 2.5rem;
        right: 1.5rem;
        color: white !important;
    }

    .nav-item {
        margin: 1rem 0;

    }

    .nav-link {
        font-size: 1rem;
    }

    .nav-list .btn {
        border-radius: 30px;
        color: white;
        border-color: white;
    }

    /*Section1*/
    #section1,
    #section2,
    #section3,
    #section4,
    #aboutMe,
    footer {
        width: 100%;
        padding-top: 7rem;
        padding-bottom: 7rem;
        background-color: #8FBC8F;

        text-align: center;
    }

    #aboutMe,
    #section3,
    footer {
        background-color: #ADD8E6;
    }

    #aboutMe p {
        color: white;
        width: 65%;
        margin: auto;
        padding-bottom: 1rem;
    }

    #aboutMe img {
        width: 20%;
    }


    .Review1 {
        width: 25%;

        border-radius: 25%;
    }

    .carousel-item {
        padding: 7% 15%;
    }

    #section2 {
        background-color: #8FBC8F;
    }

    #section2 {
        overflow-x: hidden;
    }

    #section1 h1 {
        font-size: 4rem;

    }

    #section1 .doggie,
    #section2 .doggie,
    #section4 .doggie {
        color: red;
    }

    #section2 p {
        font-size: 2rem;
    }

    #section1 button {
        background-color: white;
        border: white;
        border-radius: 30px;
    }

    #section2 .check,
    .intro,
    caption {
        color: white;
    }

    .intro {
        font-style: italic;
    }

    #section2 img {
        width: 75%;
    }

    div.imagetiles div.col-lg-3.col-md-3.col-sm-3.col-xs-6 {
        padding: 0px;
    }

    h3 {
        color: red;
    }

    .summary {
        background-color: white;
        box-shadow: 5px 5px whitesmoke;
        padding-top: 1rem;
        font-size: 1rem !important;
    }

    #section3 .doggie {
        color: red;
    }

    #aboutMe h1,
    #section4 h2,
    #section3 h1,
    #section2 h1,
    #section2 p {
        color: white;
        padding-bottom: 2rem;
    }

    #section2 h1 {
        padding-top: 2rem;
    }

    .btn-primary,
    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:active:focus,
    .btn-primary:visited,
    .btn-primary:focus {
        margin-bottom: 1rem;
        color: #3d9970 !important;
        background-color: white !important;
        outline: none !important;
        border: none !important;
        border-radius: 30px !important;
    }

    footer h1,
    footer p {
        color: white;
    }

    footer p {
        padding-bottom: 2rem;
    }

    footer form {
        background-color: #8FBC8F;
        color: white;
        padding: 3rem;
    }

    footer #link {
        padding-top: 2rem;
    }

    footer {
        padding-bottom: 2rem;
    }

    footer .copyright {
        margin-top: 3rem;
        font-size: 13px;
    }

}



@media only screen and (min-width:992px) {

    header {
        height: 8rem;
    }


    .nav-brand {
        width: 4rem;
        margin-top: .2rem;
    }

    .nav-list {
        width: initial;
        height: initial;
        background-color: transparent;
        position: initial;
        top: initial;
        right: initial;
        flex-direction: row;
        transition: intial;
        background: none;
    }

    .menu-icons {
        display: none;
    }

    .nav-link {
        font-size: 1.2rem;
        font-weight: 700;
        margin-top: 1rem;
    }

    .nav-link {
        margin-left: 2rem;
    }

    .nav-list {
        padding-right: 2rem;
    }

    .nav-list .btn {
        margin-top: 0.5rem !important;
        margin-left: 1rem
    }
}